/* -------------------------------- Desktop Colours -------------------------------- */

$mainc: #FAD03C;
$main2c: #DD9222;
$secc: #B66023;
$abouc: #ababab;

/* -------------------------------- Desktop Colours -------------------------------- */

/* -------------------------------- Mobile Colours -------------------------------- */

$maincm: #ff002f;
$main2cm: #aa0d2a;

/* -------------------------------- Mobile Colours -------------------------------- */